.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#root {
  display: flex;
}

.main-block {
  padding-top: 25px;
  display: block;
  width: 50%;
  text-align: center;
}
.pokemon-info {
  position: fixed;
  padding-top: 25px;
  display: block;
  margin-left: 50%;
  text-align: center;
}
.close-but {
  background-color: #535bf2;
  border: 1px solid black;
  transition: background-color 0.5s; /* Добавляем плавное изменение background-color за 0.3 секунды */
}

.close-but:hover {
  background-color: red;
  border: 1px solid black;
}

.pagination a {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #535bf2;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.5s;
  color: black;

}
.pagination a:hover  {
  background-color: red;
  border: 1px solid black;
  color: black;
}

.all-pokemons a, .one-pokemon a{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  height: 1%;
  width: 30%;
  background-color: #535bf2;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.5s;
  margin-top: 10px;
  color: black;
}
.all-pokemons a:hover, .one-pokemon a:hover{
  color: black;
  background-color: red;
}
p{
  color: black;
  font-weight:600;
}